.academic__courses__item__title__ipn{
    color: rgb(235, 197, 190);
}

.academic__courses__item__subtitle__ipn{
    color: rgb(223, 174, 165);
}


.academic__courses__item__title__alura{
    color: rgb(220, 150, 150);
}

.academic__courses__item__subtitle__alura{
    color: #c9c1e3;
}