.hobbies__name__guitar{
    padding: 23px;
    color: #5cde87;
    text-decoration-line: overline;
}


.hobbies__name__musica{
    padding: 23px;
    color: #7d1f9a;
    text-decoration-line: overline;
}


.hobbies__name__series{
    padding: 23px;
    color: #e8413e;
    text-decoration-line: overline;
}


.hobbies__name__tejer{
    padding: 23px;
    color: #efbe62;
    text-decoration-line: overline;
}


.hobbies__name__manualidad{
    padding: 23px;
    color: #9de7cc;
    text-decoration-line: overline;
}


.hobbies__name__peluqueria{
    padding: 23px;
    color: #b195f4;
    text-decoration-line: overline;
}
